@model IEnumerable<SistemaDeEstacionamentos.Model.Tickets>

@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Site.css" />
<meta name="viewport" content="width=device-width" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="/Home/Index">Sistema de Gestão de Estacionamentos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <table class="table">

        <thead>
            <tr>
                <th>Handle</th>
                <th>Id do carro</th>
                <th>Horario de Entrada</th>
                <th>Horario de Validacao</th>
                <th>Valor</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var tickets in ViewBag.Tickets)
            {
                <tr>
                    <td>@tickets.Handle</td>
                    <td>@tickets.VeiculoId</td>
                    <td>@tickets.DataHoraEntrada</td>
                    <td>@tickets.DataHoraValidacao</td>
                    <td>
                </tr>
            }
        </tbody>

    </table>
    <button id=" =Voltar" name=" Voltar" class=" btn btn-primary" onclick="window.location.href = '/Home/MenuDoAdministrador';">Voltar</button>
</body>
</html>
