
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SemTIcket</title>
</head>
<body>
    <div>
        Você não tem tickets. Deseja emitir um?

        <button id=" =GerarTicket" name=" Gerar-Ticket" class=" btn btn-success" onclick="window.location.href = '/Tickets/GerarTicket';">Gerar Ticket</button>
    </div>
</body>
</html>
