

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ValidarTicket</title>
</head>
<body>
    <div>
        Seu ticket foi validado com sucesso!
    </div>
    <button id=" =Voltar" name=" Voltar" class=" btn btn-success" onclick="window.location.href = '/Tickets/Index';">Voltar</button>
</body>
</html>
