
<h2>Cadastro de vaga</h2>

<!DOCTYPE html>
<html>
<head>
    <title> formulario de cadastro de vaga </title>
</head>
<body>


    <form action="/Vagas/CadastrarVagas" method="post">
        @Html.AntiForgeryToken()


        <label for="nome">Nome:</label>
        <input id="nome" name="nome" />

        <label for="TipoDaVaga">TipoDaVaga:</label>
        <input id="tipoDaVaga" name="tipoDaVaga" />


        <input type="submit" class="btn btn-primary" value="Cadastrar" />
    </form>
</body>
</html>