@model SistemaDeEstacionamentos.Vagas
<h2>Cadastro de vaga</h2>

<!DOCTYPE html>
<html>
<head>
    <title> formulario de cadastro de vaga </title>
</head>
<body>


    <form action="/Vagas/CadastrarVaga" method="post">
        @Html.AntiForgeryToken()


        <label for="localDaVaga">Local Da Vaga:</label>
        <input id="localDaVaga" name="localDeVaga" required="" value="" />

        <label for="TipoDaVaga">TipoDaVaga:</label>
        <input id="tipoDaVaga" name="tipoDaVaga" required="" value="" />

        <input type="submit" class="btn btn-primary" value="Cadastrar" />
        @Html.HiddenFor(m => m.EstacionamentoId)
    </form>
</body>
</html>