
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExcluirVaga</title>
</head>
<body>
    <div>
        Vaga removida com sucesso!
    </div>

    <button id="Voltar" name="Voltar" class="btn btn-success" onclick="window.location.href =
        '/Vagas/Index';">
        Cadastrar
    </button>

</body>
</html>
