@model IEnumerable<SistemaDeEstacionamentos.Vagas>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id do Estacionamento</th>
                <th>Handle</th>
                <th>tipo da vaga</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vagas in ViewBag.Vagas)
            {

                <tr>
                    <td>@vagas.Handle</td>
                    <td>@vagas.TipoDaVaga</td>
                    <td>@vagas.EstacionamentoId</td>
                    <td>
                        <a id="RemoverVaga" name="Remover-Vaga" class="btn btn-danger" onclick="window.location.href =
                        '/Vagas/ExcluirVaga?Handle=@vagas.Handle';">Excluir Vaga</a>
                    </td>
                </tr>

            }
        </tbody>



    </table>
    <button id="AdicionarVaga" name="Adicionar-Vaga" class="btn btn-success" onclick="window.location.href =
        '/Vagas/CadastrarVaga?Handle= @ViewBag.EstacionamentoId';">Cadastrar</button>




</body>

</html>


