
<h2>Cadastro de veículo</h2>

<!DOCTYPE html>
<html>
<head>
    <title> formulario de cadastro de veículo </title>
</head>
<body>

    @using (Html.BeginForm("CadastrarCarro", "Veiculos", FormMethod.Post))
    {

        <form action="/Usuarios/Adicionar">
            @Html.AntiForgeryToken()


            <label for="placa">Placa:</label>
            <input id="placa" name="placa" />

            <label for="TipoDoVeiculo">TipoDoVeiculo:</label>
            <input id="tipoDoVeiculo" name="tipoDoVeiculo" />


            <input type="submit" class="btn btn-primary" value="Cadastrar" />
        </form>
    }
</body>
</html>