
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditarLoginAdmin</title>
</head>
<body>
    <div class="form-group row">
        <div class="col">
            <label for="nomeDeUsuario">Nome de Usuario:</label>
            <input class="form-control" id="nomeDeUsuario" name="NomeDeUsuario" />
        </div>
        <div class="col">
            <label for="senha">Senha:</label>
            <input class="form-control" id="senha" type="password" name="senha" />
        </div>
    </div>
</body>
</html>
