<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width />"
        <title> form </title>"
    </head>
    <body>


        <form action="/Produto/Adiciona">



            <label for="nome">Nome:</label>
            <input id="nome" name="nome" />

            <label for="nomeDeUsuario">NomeDeUsuario:</label>
            <input id="nomeDeUsuario" name="nomeDeUsuario" />

            <label for="senha">senha:</label>
            <input id="senha" name="senha" />

            <label for="cpf">CPF:</label>
            <input id="cpf" name="cpf" />

            <label for="senha">senha:</label>
            <input id="senha" name="senha" />

            <label for="CEP">CEP:</label>
            <input id="CEP" name="CEP" />

            <input type="submit" />
        </form>
    </body>
</html>
