@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Página inicial do sistema de gestão de estacionamentos de Cassius Oliveira!</h1>
</body>
</html>