@{

}

    <div class="jumbotron" style="margin-top: 0.5rem;">
        <h1 class="display-4">Bem Vindo!</h1>
        <p class="lead">Página inicial do sistema de gestão de estacionamentos de Cassius Oliveira!</p>
        <hr class="my-4">
        <p>Já é um membro? Faça Login</p>
        <a class="btn btn-primary btn-lg" href="/Login/Login" role="button">Entrar</a>
    </div>


    @*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <h1>Página inicial do sistema de gestão de estacionamentos de Cassius Oliveira!</h1>
   
        <div>Por favor, faça login para começar a utilizar o sistema. </div>

    </body>
    </html>*@