
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuDoAdministrador</title>
</head>
<body>


    <button id=" =ListarUsuarios" name=" ListarUsuarios" class=" btn btn-primary" onclick="window.location.href = '/Usuarios/Index';">Listar Usuarios</button>


    <button id=" =AdicionarEstacionamento" name=" AdicionarEstacionamento" class=" btn btn-success" onclick="window.location.href = '/Estacionamentos/Adicionar';">Adicionar Estacionamento</button>

    <button id=" =ListarTickets" name=" ListarTickets" class=" btn btn-primary" onclick="window.location.href = '/Tickets/ListarTodos';">Listar todos Tickets</button>

    <button id=" =EditarCredenciaisAdmin" name=" EditarCredenciaisAdmin" class=" btn btn-primary" onclick="window.location.href = '/Usuarios/EditarLoginAdmin';">Editar credenciais de Administrador</button>



    <div>
    </div>
</body>
</html>
