<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">

        <thead>
            <tr>
                <th>Nome</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var estacionamento in ViewBag.estacionamentos)
            {
            <tr>
                <td>@estacionamento.Nome</td>
                <td> <button id=" =ExibirTabelaDePreco" name=" ExibirTabelaDePreco" class=" btn btn-primary" onclick="window.location.href = '/Estacionamentos/ExibirTabelaDePreco?Handle= @estacionamento.Handle';">Exibir tabela de preço</button></td>
                <td><button id=" =ConsultarVagas" name="ConsultarVagas" class=" btn btn-success" onclick="window.location.href = '/Vagas/Index?Handle= @estacionamento.Handle';">Consultar Vagas</button></td>
            </tr>
            }
        </tbody>

    </table>

   

    <div class="row">
        <button id=" =CadastrarNovoEstacionamento" name=" CadastrarNovoEstacionamento" class=" btn btn-success" onclick="window.location.href = '/Estacionamentos/Adicionar';">Cadastrar Novo Estacionamento</button>

    </div>


</body>
</html>
