
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nome do Estacionamento</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var estacionamento in ViewBag.Estacionamento)
                    {
                        <tr>
                            <td>@estacionamento.Nome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</body>
</html>
