
<h2>Cadastro de veículo</h2>

<!DOCTYPE html>
<html>
<head>
    <title> formulario de cadastro de veículo </title>
</head>
<body>

    @*@using (Html.BeginForm("CadastrarVeiculo", "Veiculos", FormMethod.Post))*@
    
        <form action="/Veiculos/CadastrarVeiculo" method="post">
            @Html.AntiForgeryToken()


            <label for="placa">Placa:</label>
            <input id="placa" name="placa" required="" value="" />

            <label for="TipoDoCarro">TipoDoCarro:</label>
            <input id="tipoDoCarro" name="tipoDoCarro" required="" value="" />


            <input type="submit" class="btn btn-primary" value="Cadastrar" />
        </form>
</body>
</html>