
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DefinirCarroPadrao</title>
</head>
<body>
    Este carro foi definido como carro padrão para emissão de tickets.

    <button id=" =Voltar" name=" Voltar" class=" btn btn-success" onclick="window.location.href ='/Veiculos/Index';">Voltar</button>
</body>
</html>
