
@{ 

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DefinirCarroAtivo</title>
</head>
<body>
    <div>
        Carro definido como padrão!
    </div>
</body>
</html>
