@model SistemaDeEstacionamentos.Model.Veiculos
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Veiculo excluido com êxito!

<button id=" =Voltar" name=" Voltar" class=" btn btn-success" onclick="window.location.href = '/Veiculos/Index';">Voltar</button>


