@model IEnumerable<SistemaDeEstacionamentos.Model.Veiculos>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Carro removido com sucesso!

<button id=" =Voltar" name=" Voltar" class=" btn btn-success" onclick="window.location.href = '/Veiculos/Index';">Voltar</button>


