
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SemTIcket</title>
</head>
<body>
    <div>
        Você não tem um carro padrão definido. Por favor, cadastre um carro antes de prosseguir.

        <button id=" =CadastrarCarro" name=" Cadastrar-Carro" class=" btn btn-success" onclick="window.location.href = '/Veiculos/CadastrarVeiculo';">Cadastrar Veiculo</button>
    </div>
</body>
</html>
